.bc{
    margin-top: 100px;
    padding-top: 40px;
    border: 1px 2px solid;
    box-shadow: 1px 2px 3px black;
    width: 500px;
    height: 350px;
}

.ic{
    margin-top: 100px;
    padding-top: 20px;
    border: 1px 2px solid;
    box-shadow: 1px 2px 3px black;
    width: 500px;
    height: 350px;
}
.bt{
    margin-top: 20px;
   
}